poetry.lock
.idea
data_zenodo
data_ptbxl
pqrst_modelsig.ipynb
__pycache__
app/uploads
eda/.ipynb_checkpoints/
eda/temp.ipynb

data/ptbxl/records100
data/ptbxl/records500
data/ptbxl/npy_signals100/

#FILES
*.hdf5
*.dat
*.hea
*.env
*.zip

# virtualenv
venv/
ENV/




