<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Загрузка ЭКГ-сигнала</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
<!--    <label for="username">Username:</label><br>-->
<!--    <input type="text" name="username"><br>-->
<!--    <label for="Password">Password:</label><br>-->
<!--    <input type="text" name="username"><br>-->
<!--    <input type="submit" value="Submit">-->

    <label for="id">Id:</label><br>
    <input type="text" name="id"><br>

    <label for="sample_rate">Sample rate:</label><br>
    <input type="text" name="sample_rate"><br>

    <label for="leads nums">leads nums:</label><br>
    <input type="text" name="leads_nums"><br>

    <label for="gender">gender:</label><br>
    <input type="text" name="gender"><br>

    <label for="age">age:</label><br>
    <input type="text" name="age"><br>

    <label for="device">device:</label><br>
    <input type="text" name="device"><br>

    <input type="file" name="leads_values"><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>