<!doctype html>
<html lang="en">
<head>
    <title>Загрузка ЭКГ-сигнала</title>
<!--    <link href="{{ url_for('/static', path='/styles.css') }}" rel="stylesheet">-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Данные сигнала</h1>
<form method="POST">
    <label for="username">Username:</label><br>
    <input type="text" name="username"><br>
    <label for="Password">Password:</label><br>
    <input type="text" name="username"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>